:root { --md-primary-fg-color: #232F3E; --md-primary-fg-color--light: #37475A; --md-primary-fg-color--dark: #161E2D; }
.md-typeset img { border: 1px solid var(--md-default-fg-color--lightest); border-radius: 4px; }
.md-typeset table:not([class]) { font-size: .8rem; }
